<p>Brevet distance: {{ info.distance }}</p>
<p>Brevet start date: {{ info.begin_date }}</p>
<p>Brevet start time: {{ info.begin_time }}</p>

<br>

{{ msg.msg }}

{% if msg.msg|length == 0 %}
 <table>
  <tr>
   <th>Mile</th>
   <th>Kilometer</th>
   <th>Open</th>
   <th>Close</th>
  </tr>

  {% for item in items %}
    <tr>
     <td>{{ item.mile }}</td>
     <td>{{ item.km }}</td>
     <td>{{item.open}}</td>
     <td>{{item.close}}</td>
    </tr>
  {% endfor %}
 </table>
{% endif %}

<!--
{% for item in items %}
 <p>mile: {{ item.mile }}, km: {{ item.km }}, open: {{item.open}}, close: {{item.close}}<p>
{% endfor %} -->
